name: Go

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [ '1.25.x','1.26.x' ]
        
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      
      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}

      - name: Build
        run: go build -o kcplens ./cmd/kcplens

      - name: Test
        run: go test -v -timeout 20m ./...
